**/.DS_Store
.config/nvim/plugin/packer_compiled.lua
.config/nvim/scratch/

# TODO: look into these
.config/spotify-tui/
.config/composer/

# TODO: look into moving these files to another dir
.config/zsh/.zcompdump
.config/zsh/.zsh_sessions/
.config/zsh/.zsh_history
.config/tmux/plugins/
.config/zsh/plugins/

.config/gcloud/
